<h1>Настройка двухфакторной аутентификации</h1>
<p>Сканируйте QR-код в Google Authenticator:</p>
<img src="<%= qrCodeUrl %>" alt="QR код для Google Authenticator">
<p>Или используйте этот секретный ключ: <%= secret %></p>
