/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f8;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  /* Стили для навигации */
  nav {
    background-color: #2c3e50;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  
  nav ul li a:hover {
    color: #3498db;
  }
  
  /* Главная страница */
  h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 2.5em;
    color: #2c3e50;
  }
  
  /* Стиль для страницы регистрации */
  form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  form input:focus,
  form select:focus {
    border-color: #3498db;
  }
  
  form button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #2980b9;
  }
  
  /* Стиль для портфолио */
  ul {
    padding: 20px;
    list-style: none;
    margin-top: 30px;
  }
  
  ul li {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  ul li h2 {
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  ul li p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  ul li img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  ul li img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Стиль для футера */
  footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  